extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio
    
    p This is a collection of projects I have built through out my learning process!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/images/project_${project.id}_thumbnail.png`, alt=`${project.project_name}`)
            h5= project.project_name

